@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.btn { @apply font-bold py-2 px-4 rounded; }
	.btn:disabled { @apply disabled:opacity-50 cursor-not-allowed; }
.btn-gray { @apply bg-gray-500 text-white; }
.btn-gray:hover:not(:disabled) { @apply bg-gray-700; }

/* This file is for your main application CSS */

.dark { fill: #555; }
.light { fill: #ddd; }

:root {
	--white-active: #14B8A6;
	--white-possible: #FEF08A;
	--black-active: #14B8A6;
	--black-possible: #FEF08A;
	--black-pending: #701A75;
}

.action-buttons { @apply flex mt-4; }
	.action-buttons button[type=button] { @apply btn btn-gray; }

g.white circle { fill: #fff; stroke: #111; }
	[data-current-player="white"][data-turn="white"] g.white circle.active { fill: var(--white-active); }
	[data-current-player="white"][data-turn="white"] g.white circle.final:hover { fill: var(--white-active); }
g.black circle { fill: #111; stroke: #999; }
	[data-current-player="black"][data-turn="black"] g.black circle.active { fill: var(--black-active); }
	[data-current-player="black"][data-turn="black"] g.black circle.final:hover { fill: var(--black-active); }
g.possible-moves circle { fill: var(--black-possible); cursor: pointer; }
g.pending-moves circle { fill: var(--black-pending); cursor: pointer; }

[data-current-player="white"][data-turn="white"] g.white .final,
[data-current-player="black"][data-turn="black"] g.black .final { cursor: pointer; }

.dice-value {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}